:root {
    --primary: #2516c7;
    --bgprimary: #17161D;
    --bgsecundary: #282829;
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none
    
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

@keyframes floating {
    0% {
        box-shadow: 1px 1px 15px 2px var(--primary);
        transform: translateY(-0px);
        
         
    }

    50% {
        box-shadow: 1px 1px 15px 6px var(--primary);
        transform: translateY(-10px);
    }

    100% {
        box-shadow: 1px 1px 15px 2px var(--primary);
        transform: translateY(-0px); 
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bgsecundary);
    width: 100%;
    
}

.container {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bgprimary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 25px;
}