.contact {
    height: 54vh;
}

.contact .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.contact .contact-info h2 {
    font-size: 2.7em;
}

.contact .contact-info .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact .contact-info .contact-icons .logoscontact {
    background-color: var(--bgprimary);
    width: 300px;
    height: 300px;
    margin: 40px 0px 0px 20px;
    text-decoration: none;
    padding-top: 70px;
    border: 2px solid var(--bgsecundary);
    
}

.contact .contact-info .contact-icons .logoscontact:hover {
    border: 2px solid;
    border-image: linear-gradient(180deg, #17161d 0%, #2516c7 54%) 1;
}

.logoscontact .contentcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.logoscontact img {
    width: 120px;
}

.logoscontact span {
    margin-top: 30px;
    font-size: 2em;
    text-decoration: none;
    color: white;
}

@media  (max-width: 280px) {
    .container {
        width: 100vw;
    }

    .contact {
        width: 100vw;
        height: 325px;
    }

    .contact .contact-info {
        text-align: center;
        font-size: 0.6em;
        margin-top: 50px;
    }

    .contact .contact-info .contact-icons {
        width: 100vw;
        flex-wrap: wrap;
    }

    .contact .contact-info .contact-icons .logoscontact {
        width: 100px;
        height: 100px;
        margin: 15px 10px 0px 0px;
        padding: 15px;
    }

    .logoscontact img {
        width: 60px;
    } 

    .logoscontact span {
        margin: 10px 0px 0px 0px;
        font-size: 1.4em;
    }
}

@media  (min-width: 281px) and (max-width: 539px) {
    .container {
        width: 100vw;
    }

    .contact {
        width: 100vw;
        height: 313px;
    }

    .contact .contact-info {
        text-align: center;
        font-size: 0.8em;
        margin-top: 50px;
    }

    .contact .contact-info h2 {
        font-size: 1.8em;
    }

    .contact .contact-info .contact-icons {
        width: 100vw;
        flex-wrap: wrap;
    }

    .contact .contact-info .contact-icons .logoscontact {
        width: 130px;
        height: 110px;
        margin: 15px 10px 0px 0px;
        padding: 15px;
    }

    .logoscontact img {
        width: 60px;
    } 

    .logoscontact span {
        margin: 10px 0px 0px 0px;
        font-size: 1.8em;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .container {
        width: 100vw;
    }

    .contact {
        width: 100vw;
        height: 313px;
    }

    .contact .contact-info {
        text-align: center;
        font-size: 0.8em;
        margin-top: 50px;
    }

    .contact .contact-info h2 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }

    .contact .contact-info .contact-icons {
        width: 80%;
        flex-wrap: wrap;
    }

    .contact .contact-info .contact-icons .logoscontact {
        width: 160px;
        height: 140px;
        margin: 10px 30px 0px 0px;
        padding: 15px;
    }

    .logoscontact img {
        width: 90px;
    } 

    .logoscontact span {
        margin: 10px 0px 0px 0px;
        font-size: 1.8em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 100vw;
    }

    .contact {
        width: 100vw;
        height: 313px;
    }

    .contact .contact-info {
        text-align: center;
        font-size: 0.8em;
        margin-top: 50px;
    }

    .contact .contact-info h2 {
        font-size: 3.2em;
        margin-bottom: 30px;
    }

    .contact .contact-info .contact-icons {
        width: 100%;
        flex-wrap: wrap;
        margin-left: 20px;
    }
    .contact .contact-info .contact-icons .logoscontact {
        width: 175px;
        height: 160px;
        margin: 10px 15px 0px 0px;
        padding: 15px;
    }

    .logoscontact img {
        width: 110px;
    } 

    .logoscontact span {
        margin: 15px 0px 0px 0px;
        font-size: 2.6em;
    }
}