footer {
    background-color: var(--bgprimary);
    padding: 20px;
    text-align: center;
    color: white;
    bottom: 0;
}

@media (min-width: 280px) and (max-width: 539px) {
    footer {
        margin-top: 0px;
        width: 100vw;
        font-size: 0.9em;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    footer {
        margin-top: 80px;
        font-size: 1em;
        width: 100vw;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    footer {
        font-size: 1em;
        width: 100vw;
    }

}