.intro {
    height: 90vh;
}

.intro .introinfo img {
    border-radius: 50%;
    border: 2px solid rgb(80, 80, 80);
    box-shadow: 1px 1px 15px #2516c7;
    animation: floating 3s infinite;
}

.intro .introinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 55px;
    height: 80vh;

    
}

.intro .introinfo h1,h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    
}

.intro .introinfo h1 {
    font-size: 3.1em;
    margin-top: 95px;
    
}

.intro .introinfo h2 {
    font-size: 2.3em;
    margin-top: 30px;
}

@media (max-width: 280px) {

    .intro {
        width: 100vw;
    }

    .container {
        width: 100vw;
    }

    .intro .introinfo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .intro .introinfo img {
        display: block;
        width: 230px;
    }

    .intro .introinfo h1 {
        text-align: center;
        font-size: 1.6em;
        margin-top: 60px;
    }

    .intro .introinfo h2 {
        text-align: center;
        font-size: 1.1em;
    }
}

@media (min-width: 281px) and (max-width:374px) {
    .intro .introinfo img {
        width: 210px;
    }
}

@media (min-width: 281px) and (max-width: 539px) {

    .container {
        width: 100vw;
    }

    .intro .introinfo img {
        max-width: 100%;
        
    }

    .intro .introinfo h1 {
        font-size: 2.3em;
        margin-top: 50px;
        text-align: center;
    }

    .intro .introinfo h2 {
        font-size: 1.4em;
        text-align: center;
    }
}

@media (min-width: 540px) and (max-width: 1024px) {
    .container {
        width: 100vw;
    }

    .intro .introinfo img {
        max-width: 100%;
    }

    .intro .introinfo h1 {
        font-size: 2.7em;
        margin-top: 50px;
        text-align: center;
    }

    .intro .introinfo h2 {
        font-size: 2em;
        text-align: center;
    }
}

@media (min-width: 1025px) {
    .container {
        width: 100vw;
    }

    .intro .introinfo img {
        max-width: 100%;
    }

    .intro .introinfo h1 {
        font-size: 2.7em;
        margin-top: 50px;
        text-align: center;
    }

    .intro .introinfo h2 {
        font-size: 2em;
        text-align: center;
    }
}