.projects {
    background-color: var(--bgprimary);
    height: 70vh;
    padding-top: 120px;
}

.projects .projects-info {
    display: flex;
    width: 86%;
    height: 390px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px var(--primary);
    background-color: var(--bgsecundary);
    
}

.projects .projects-info .textproject {
    width: 50%;
    padding: 89px 10px 0px 100px;
}

.projects .projects-info .textproject h3 {
    font-size: 1.8em;
    color: white;
    letter-spacing: 1px;
}

.projects .projects-info .textproject .projecth3 {
    display: block;
    margin-top: 50px;
}

.projects .projects-info .imgproject {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projects .projects-info .imgproject img{
    width: 400px;
}

@media  (max-width: 280px) {
    .container {
        width: 100vw;
    }

    .projects {
        width: 100vw;
        height: 550px;
    }

    .projects .projects-info .textproject {
        padding: 20px 0px 0px 20px;
        width: 100%;
        
    }

    .projects .projects-info .textproject h3 {
        font-size: 1.6em;
        margin-top: 60px;
        
    }

    .projects .projects-info .imgproject {
        display: none;
    }
}

@media  (min-width: 281px) and (max-width: 539px) {
    .container {
        width: 100vw;
    }

    .projects {
        width: 100vw;
        height: 550px;
    }
    .projects .projects-info {
        height: 370px;
        width: 323px;
    }

    .projects .projects-info .textproject {
        padding: 0px 0px 0px 22px;
        width: 100%;
        
    }

    .projects .projects-info .textproject h3 {
        font-size: 1.8em;
        margin-top: 60px;
        
    }

    .projects .projects-info .imgproject {
        display: none;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .container {
        width: 100vw;
    }

    .projects {
        width: 100vw;
        height: 550px;
    }
    .projects .projects-info {
        height: 370px;
        width: 430px;
    }

    .projects .projects-info .textproject {
        padding: 20px;
        width: 100%;
        
    }

    .projects .projects-info .textproject h3 {
        font-size: 2.1em;
        margin-top: 30px;
        
    }

    .projects .projects-info .imgproject {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 100vw;
    }

    .projects {
        width: 100vw;
        height: 550px;
    }
    .projects .projects-info {
        height: 370px;
        width: 720px;
    }

    .projects .projects-info .textproject {
        padding: 20px;
        width: 100%;
        
    }

    .projects .projects-info .textproject h3 {
        font-size: 2.1em;
        margin-top: 30px;
        
    }

    .projects .projects-info .imgproject {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects .projects-info .imgproject img {
        max-width: 180%;
    }
}

@media (min-width: 1025px) {
    .container {
        width: 100vw;
    }

    .projects {
        width: 100vw;
        height: 550px;
    }
    .projects .projects-info {
        width: 1093px;
        height: 390px;
    }

    .projects .projects-info .textproject {
        padding: 60px 50px 50px 100px;
        width: 60%;
        
    }

    .projects .projects-info .textproject h3 {
        font-size: 2.1em;
        margin-top: 30px;
        
    }

    .projects .projects-info .imgproject {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects .projects-info .imgproject img {
        max-width: 180%;
    }
}
