:root {
    --primary: #2516c7;
    --bgprimary: #17161D;
    --bgsecundary: #282829;
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

@keyframes floating {
    0% {
        box-shadow: 1px 1px 15px 2px var(--primary);
        transform: translateY(-0px);
        
         
    }

    50% {
        box-shadow: 1px 1px 15px 6px var(--primary);
        transform: translateY(-10px);
    }

    100% {
        box-shadow: 1px 1px 15px 2px var(--primary);
        transform: translateY(-0px); 
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bgsecundary);
    
}

.container {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bgprimary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 25px;
}

/********
* HEADER
*********/

.home {
    display: flex;
    z-index: 3;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bgprimary);
    color: white;
    height: 90px;
    width: 100%;
    box-shadow: 1px 1px 1px #0000007e;
}

.header h1 {
    padding: 15px;
}

.navigation {
    height: 100%;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 30px;
    width: 100%;
}

.menu li {
    display: block;
    height: 90px;
}

.select {
    margin-left: 2px;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 0px 17px 1px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li:hover {
    background-color: #3f30dd;
    color: black;
}

.menu li:hover > a{
    color: rgb(255, 255, 255);
}
/********
* Intro
*********/

.intro {
    height: 90vh;
}

.intro .introinfo img {
    border-radius: 50%;
    border: 2px solid rgb(80, 80, 80);
    box-shadow: 1px 1px 15px #2516c7;
    animation: floating 3s infinite;
}

.intro .introinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 55px;
    height: 80vh;

    
}

.intro .introinfo h1,h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    
}

.intro .introinfo h1 {
    font-size: 3.1em;
    margin-top: 95px;
    
}

.intro .introinfo h2 {
    font-size: 2.3em;
    margin-top: 30px;
}



/********
* Profile
*********/

.profile {
    background-color: var(--bgprimary);
    height: 84vh;
}


.profile .text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    padding-top: 160px;
}

.profile .text h2 {
    color: white;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.profile .text p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: white;

}

.profile .text .textp {
    width: 60%;
    line-height: 26px;
}


.profile .btnlinkedin {
    display: block;
    background: rgb(23,22,29);
    background: linear-gradient(90deg, #0b0b0ebd 0%, #2516c7d3 93%);
    color: white;
    width: 300px;
    height: 70px;
    margin: 145px auto 0px auto;
    text-decoration: none;
    border: 1px solid;
    border-image: linear-gradient(225deg, #0c036ee1 100%, #17161d 0%) 1;
}

.profile .btnlinkedin:hover {
    background: linear-gradient(90deg, #0b0b0ebd 0%, #2516c76e 93%);

}

.profile .btnlinkedin .flexbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/********
* Skill
*********/

.skills {
    height: 55vh;
    background-color: var(--bgsecundary);
}

.skills .texth2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 70px;
    font-size: 1.7em;
}

.skills .ability {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills .ability .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bgprimary);
    width: 156px;
    height: 136px;
    border-radius: 20px;
    margin-left: 30px;
}

.skills .ability .logos:hover {
    border: 2px solid var(--primary);
    cursor: pointer;
}

.skills .ability .logos:hover .span-logo {
    display: block;
}

.skills .ability .logos img {
    width: 65px;
}

.skills .ability .logos .span-logo {
    margin-top: 15px;
    font-weight: bold;
    color: white;
    display: none;
}

/********
* Projects
*********/

.projects {
    background-color: var(--bgprimary);
    height: 70vh;
    padding-top: 120px;
}

.projects .projects-info {
    display: flex;
    width: 86%;
    height: 390px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px var(--primary);
    background-color: var(--bgsecundary);
    
}

.projects .projects-info .textproject {
    width: 50%;
    padding: 89px 10px 0px 100px;
}

.projects .projects-info .textproject h3 {
    font-size: 1.8em;
    color: white;
    letter-spacing: 1px;
}

.projects .projects-info .textproject .projecth3 {
    display: block;
    margin-top: 50px;
}

.projects .projects-info .imgproject {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projects .projects-info .imgproject img{
    width: 400px;
}

/********
* Contact
*********/

.contact {
    height: 54vh;
}

.contact .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.contact .contact-info h2 {
    font-size: 2.7em;
}

.contact .contact-info .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact .contact-info .contact-icons .logoscontact {
    background-color: var(--bgprimary);
    width: 300px;
    height: 300px;
    margin: 40px 0px 0px 20px;
    text-decoration: none;
    padding-top: 70px;
    border: 2px solid var(--bgsecundary);
    
}

.contact .contact-info .contact-icons .logoscontact:hover {
    border: 2px solid;
    border-image: linear-gradient(180deg, #17161d 0%, #2516c7 54%) 1;
}

.logoscontact .contentcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.logoscontact img {
    width: 120px;
}

.logoscontact span {
    margin-top: 30px;
    font-size: 2em;
    text-decoration: none;
    color: white;
}

/********
* Footer
*********/

footer {
    background-color: var(--bgprimary);
    padding: 20px;
    text-align: center;
    color: white;
}


