:root {
    --primary: #2516c7;
    --bgprimary: #17161D;
    --bgsecundary: #282829;
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

@keyframes floating {
    0% {
        box-shadow: 1px 1px 15px 2px var(--primary);
        transform: translateY(-0px);
        
         
    }

    50% {
        box-shadow: 1px 1px 15px 6px var(--primary);
        transform: translateY(-10px);
    }

    100% {
        box-shadow: 1px 1px 15px 2px var(--primary);
        transform: translateY(-0px); 
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bgsecundary);
}

.container {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bgprimary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 25px;
}

/********
* HEADER
*********/

.home {
    display: flex;
    z-index: 3;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bgprimary);
    color: white;
    height: 90px;
    width: 100%;
    box-shadow: 1px 1px 1px #0000007e;
}

.header h1 {
    padding: 15px;
}

.navigation {
    height: 100%;
    width: 100%;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 30px;
    width: 100%;
}

.menu li {
    display: block;
    height: 90px;
}

.select {
    margin-left: 2px;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 0px 17px 1px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li:hover {
    background-color: rgb(91, 50, 241);
    color: black;
}

.menu li:hover > a{
    color: rgb(255, 255, 255);
}
/********
* Intro
*********/

.intro {
    height: 100vh;
}

.intro .introinfo img {
    border-radius: 50%;
    border: 2px solid rgb(80, 80, 80);
    box-shadow: 1px 1px 15px #2516c7;
    animation: floating 3s infinite;
}

.intro .introinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 55px;
    height: 75vh;

    
}

.intro .introinfo h1,h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.intro .introinfo h1 {
    font-size: 3.1em;
    margin-top: 95px;
}

.intro .introinfo h2 {
    font-size: 2.3em;
    margin-top: 30px;
}



/********
* Profile
*********/

.profile {
    background-color: var(--bgprimary);
    height: 84vh;
}


.profile .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 160px;
}

.profile .text h2 {
    color: white;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.profile .text p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: white;

}

.profile .text .textp {
    width: 60%;
    line-height: 26px;
}


.profile .btnlinkedin {
    display: block;
    background: rgb(23,22,29);
    background: linear-gradient(90deg, #17161d 0%, #2516c793 93%);
    color: white;
    width: 300px;
    height: 70px;
    margin: 145px auto 0px auto;
    text-decoration: none;
    border: 1px solid;
    border-image: linear-gradient(225deg, #17161d 0%, #2516c7bd 100%) 1;
}

.profile .btnlinkedin .flexbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/********
* Skill
*********/

.skills {
    height: 100vh;
    background-color: var(--bgsecundary);
}