@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  border: 0;
}

button:focus,
input:focus {
  border: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #8080803d;
  border-radius: 25px;
}

@-webkit-keyframes projetos {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes projetos {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@-webkit-keyframes mouse {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(-400px, -153px, 0px);
            transform: translate3d(-400px, -153px, 0px);
  }
  50% {
    -webkit-transform: translate3d(0px, -153px, 0px);
            transform: translate3d(0px, -153px, 0px);
  }
  75% {
    -webkit-transform: translate3d(400px, -153px, 0px);
            transform: translate3d(400px, -153px, 0px);
  }
  95% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes mouse {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(-400px, -153px, 0px);
            transform: translate3d(-400px, -153px, 0px);
  }
  50% {
    -webkit-transform: translate3d(0px, -153px, 0px);
            transform: translate3d(0px, -153px, 0px);
  }
  75% {
    -webkit-transform: translate3d(400px, -153px, 0px);
            transform: translate3d(400px, -153px, 0px);
  }
  95% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

body {
  background-color: #040404;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

body #load {
  position: fixed;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #080808;
  color: white;
}

body #load h1 {
  -webkit-animation: loading 3s linear;
          animation: loading 3s linear;
}

header {
  background-color: #000000;
  color: #ffffff;
  height: 80px;
  padding-top: 28px;
  font-family: "Raleway", sans-serif;
  z-index: 999;
  padding-right: 30px;
  width: 100vw;
}

@media screen and (max-width: 1025px) {
  header {
    position: fixed;
    z-index: 999;
    top: 0;
  }
}

header .LarguraMaxContainerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 1700px;
  margin: 0 auto;
}

header .LarguraMaxContainerHeader .logo {
  letter-spacing: -3px;
  font-size: 1.8em;
  font-weight: bold;
}

header .LarguraMaxContainerHeader .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .LarguraMaxContainerHeader .navbar .menuMobile {
  display: none;
}

@media screen and (max-width: 950px) {
  header .LarguraMaxContainerHeader .navbar .menuMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    right: 10px;
    top: 20px;
  }
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger:hover {
  opacity: 0.7;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #FFFF;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger-inner::before {
  width: 40px;
  height: 4px;
  background-color: #FFFF;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  content: "";
  display: block;
  top: -10px;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #FFFF;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  content: "";
  display: block;
  bottom: -10px;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .is-active:hover {
  opacity: 0.7;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .is-active .hamburger-inner {
  background-color: #FFFF;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .is-active .hamburger-inner::before {
  background-color: #FFFF;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .is-active .hamburger-inner::after {
  background-color: #FFFF;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger--slider .hamburger-inner {
  top: 2px;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger--slider .hamburger-inner::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger--slider .hamburger-inner::after {
  top: 20px;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

header .LarguraMaxContainerHeader .navbar .menuMobile .hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
          transform: translate3d(0, -20px, 0) rotate(-90deg);
}

header .LarguraMaxContainerHeader .navbar .nav-listMobile {
  text-align: center;
  position: absolute;
  top: 9vh;
  right: 0;
  left: -350%;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #17161d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 100px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (min-width: 951px) {
  header .LarguraMaxContainerHeader .navbar .nav-listMobile {
    display: none;
  }
}

header .LarguraMaxContainerHeader .navbar .nav-listMobile li {
  margin-bottom: 20px;
}

header .LarguraMaxContainerHeader .navbar .nav-listMobile li a {
  color: #faf6f6;
  margin: 10px 0px;
  padding: 20px;
}

header .LarguraMaxContainerHeader .navbar .active {
  text-align: center;
  position: fixed;
  top: 9vh;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #17161d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 100px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header .LarguraMaxContainerHeader .navbar .active li {
  margin-bottom: 50px;
}

header .LarguraMaxContainerHeader .navbar .active li a {
  color: rgba(189, 187, 187, 0.904);
  margin: 10px 0px;
  padding: 20px;
  font-size: 2em;
}

header .LarguraMaxContainerHeader .navbar .active li a:hover {
  color: #ffffff;
}

header .LarguraMaxContainerHeader .navbar .navList {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
}

@media screen and (min-width: 951px) {
  header .LarguraMaxContainerHeader .navbar .navList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 558px;
  }
}

header .LarguraMaxContainerHeader .navbar .navList li a {
  color: #bdbbbb;
  font-size: 1.3em;
}

header .LarguraMaxContainerHeader .navbar .navList li a:hover {
  color: #ffffff;
}

#apresentacao {
  width: 100vw;
  height: 85vh;
  padding-top: 200px;
  color: #ffffff;
  background-color: #0a0a0a;
}

@media screen and (max-width: 768px) {
  #apresentacao {
    height: 85vh;
    padding-top: 200px;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #apresentacao {
    height: 85vh;
    padding-top: 241px;
  }
}

#apresentacao .LarguraMaxContainerApresentacao {
  height: 69%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #apresentacao .LarguraMaxContainerApresentacao {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #apresentacao .LarguraMaxContainerApresentacao {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

#apresentacao .LarguraMaxContainerApresentacao .text h1 {
  font-size: 5em;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #apresentacao .LarguraMaxContainerApresentacao .text h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #apresentacao .LarguraMaxContainerApresentacao .text h1 {
    font-size: 4em;
    margin-bottom: 20px;
  }
}

#apresentacao .LarguraMaxContainerApresentacao .text h2 {
  font-size: 2.1em;
}

@media screen and (max-width: 768px) {
  #apresentacao .LarguraMaxContainerApresentacao .text h2 {
    font-size: 1.7em;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #apresentacao .LarguraMaxContainerApresentacao .text h2 {
    font-size: 1.6em;
  }
}

#apresentacao .LarguraMaxContainerApresentacao .text .button {
  width: 200px;
  height: 60px;
  position: relative;
  -webkit-transform: translate(75%, 93%);
          transform: translate(75%, 93%);
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  #apresentacao .LarguraMaxContainerApresentacao .text .button {
    -webkit-transform: translate(40%, 93%);
            transform: translate(40%, 93%);
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #apresentacao .LarguraMaxContainerApresentacao .text .button {
    -webkit-transform: translate(50%, 93%);
            transform: translate(50%, 93%);
  }
}

#apresentacao .LarguraMaxContainerApresentacao .text .button:hover .bg {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#apresentacao .LarguraMaxContainerApresentacao .text .button .btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #0073b1;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  outline: none;
  padding-top: 15px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #apresentacao .LarguraMaxContainerApresentacao .text .button .btn {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #apresentacao .LarguraMaxContainerApresentacao .text .button .btn {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

#apresentacao .LarguraMaxContainerApresentacao .text .button .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: #0073b1;
  z-index: -1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .4s;
  transition: all .4s;
}

#apresentacao .LarguraMaxContainerApresentacao .text .button .bg:nth-child(3) {
  left: 50px;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

#apresentacao .LarguraMaxContainerApresentacao .text .button .bg:nth-child(4) {
  left: 100px;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

#apresentacao .LarguraMaxContainerApresentacao .text .button .bg:nth-child(5) {
  left: 150px;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

#apresentacao .LarguraMaxContainerApresentacao .img {
  width: 39%;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#apresentacao .LarguraMaxContainerApresentacao .img img {
  width: 90%;
  height: 100%;
  border-radius: 45%;
}

#sobremim {
  width: 100vw;
  padding-top: 50px;
}

@media screen and (max-width: 1024px) {
  #sobremim {
    padding: 0px 20px;
    padding-top: 50px;
  }
}

#sobremim .LarguraMaxContainerAbout {
  text-align: center;
  color: #ffffff;
  width: 48%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #sobremim .LarguraMaxContainerAbout {
    width: 100%;
    padding: 0 10px;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #sobremim .LarguraMaxContainerAbout {
    width: 90%;
  }
}

#sobremim .LarguraMaxContainerAbout .contentAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#sobremim .LarguraMaxContainerAbout .contentAbout h1 {
  width: 100%;
  font-size: 3.5em;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  #sobremim .LarguraMaxContainerAbout .contentAbout h1 {
    font-size: 3.2em;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #sobremim .LarguraMaxContainerAbout .contentAbout h1 {
    font-size: 3em;
  }
}

#sobremim .LarguraMaxContainerAbout .contentAbout h2 {
  margin-bottom: 50px;
  font-size: 1.9em;
}

@media screen and (max-width: 768px) {
  #sobremim .LarguraMaxContainerAbout .contentAbout h2 {
    font-size: 1.5em;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  #sobremim .LarguraMaxContainerAbout .contentAbout h2 {
    font-size: 1.6em;
  }
}

#conhecimentos {
  padding-bottom: 50px;
  background-color: #0a0a0a;
}

#conhecimentos .LarguraMaxContainer {
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
  padding-top: 65px;
  color: #ffffff;
}

#conhecimentos .LarguraMaxContainer h2 {
  width: 100%;
  font-size: 3.3em;
  margin-bottom: 68px;
}

@media screen and (max-width: 768px) {
  #conhecimentos .LarguraMaxContainer h2 {
    font-size: 3em;
  }
}

#conhecimentos .LarguraMaxContainer .contentSkills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

#conhecimentos .LarguraMaxContainer .contentSkills .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass {
  width: 220px;
  height: 229px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: #000000;
  color: #ffffff;
  margin: 10px;
  font-size: 1.5em;
  padding-top: 30px;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .skill, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .skill, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .skill, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .skill {
  opacity: 0;
  margin-bottom: 7px;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .experience, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .experience, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .experience, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .experience {
  font-size: 0.7em;
  opacity: 0;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d2 {
  position: absolute;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d1 {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d2 {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d4, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d4, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d4, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d4 {
  width: 2px;
  height: 100%;
  position: absolute;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all .4s;
  transition: all .4s;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d3 {
  left: 0;
  bottom: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d4, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d4, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d4, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d4 {
  right: 0;
  top: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml:hover, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss:hover, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs:hover, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass:hover {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml:hover .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnHtml:hover .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss:hover .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss:hover .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs:hover .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs:hover .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass:hover .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass:hover .d2 {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml:hover .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnHtml:hover .d4, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss:hover .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss:hover .d4, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs:hover .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs:hover .d4, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass:hover .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass:hover .d4 {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml:hover p, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss:hover p, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs:hover p, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass:hover p {
  opacity: 1;
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnHtml .d4 {
  background-color: #e96228;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnHtml:hover {
  background-color: #e96228b8;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnCss .d4 {
  background-color: #3595CF;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnCss:hover {
  background-color: #3595CFb8;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnJs .d4 {
  background-color: #EFD81D;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnJs:hover {
  background-color: #EFD81Db8;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d1, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d2, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d3, #conhecimentos .LarguraMaxContainer .contentSkills .btnSass .d4 {
  background-color: #C55D90;
}

#conhecimentos .LarguraMaxContainer .contentSkills .btnSass:hover {
  background-color: #C55D90b8;
}

#projetos {
  width: 100vw;
}

#projetos .LarguraMaxContainerProjects {
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 50px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  #projetos .LarguraMaxContainerProjects {
    padding-right: 15px;
  }
}

#projetos .LarguraMaxContainerProjects h2 {
  width: 100%;
  font-size: 3.3em;
  margin-bottom: 68px;
}

#projetos .LarguraMaxContainerProjects .contentProjetos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  #projetos .LarguraMaxContainerProjects .contentProjetos {
    padding: 0px 20px;
  }
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1, #projetos .LarguraMaxContainerProjects .contentProjetos .content2, #projetos .LarguraMaxContainerProjects .contentProjetos .content3, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 {
  width: 520px;
  height: 256px;
  background-color: #000000;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #projetos .LarguraMaxContainerProjects .contentProjetos .content1, #projetos .LarguraMaxContainerProjects .contentProjetos .content2, #projetos .LarguraMaxContainerProjects .contentProjetos .content3, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 {
    margin-right: 0px;
  }
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d2 {
  position: absolute;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .4s;
  transition: all .4s;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d1 {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
  top: 0;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d2 {
  bottom: 0;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d4 {
  width: 2px;
  height: 100%;
  position: absolute;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d3 {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
  left: 0;
  bottom: 0;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d4 {
  right: 0;
  top: 0;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1:hover .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content2:hover .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content3:hover .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content4:hover .d1 {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1:hover .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content2:hover .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content3:hover .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content4:hover .d2 {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1:hover .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content2:hover .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content3:hover .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content4:hover .d3 {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: .0s;
          transition-delay: .0s;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1:hover .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content2:hover .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content3:hover .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content4:hover .d4 {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content1 .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .d4, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .d4 {
  background-color: #D90E29;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .img-content, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .img-content, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .img-content, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .img-content {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .text-content, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .text-content, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .text-content, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 52%;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .text-content h3, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .text-content h3, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .text-content h3, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .text-content h3 {
  font-size: 1.5em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .content1 .text-content p, #projetos .LarguraMaxContainerProjects .contentProjetos .content2 .text-content p, #projetos .LarguraMaxContainerProjects .contentProjetos .content3 .text-content p, #projetos .LarguraMaxContainerProjects .contentProjetos .content4 .text-content p {
  font-size: 1.2em;
  text-align: center;
  color: #ffffff;
  line-height: 20px;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .disabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: auto;
  position: relative;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .disabled p {
  color: #ffffff8a;
  font-size: 2em;
  font-weight: bold;
  -webkit-animation: projetos 2s infinite alternate;
          animation: projetos 2s infinite alternate;
}

#projetos .LarguraMaxContainerProjects .contentProjetos .disabled .d1, #projetos .LarguraMaxContainerProjects .contentProjetos .disabled .d2, #projetos .LarguraMaxContainerProjects .contentProjetos .disabled .d3, #projetos .LarguraMaxContainerProjects .contentProjetos .disabled .d4 {
  background-color: #808080;
}

#contato {
  width: 100vw;
  background-color: #000000;
}

#contato .LarguraMaxContainerContact {
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
  padding-top: 107px;
  padding-bottom: 50px;
  color: #ffffff;
}

#contato .LarguraMaxContainerContact h2 {
  width: 100%;
  font-size: 2.9em;
  margin-bottom: 68px;
}

#contato .LarguraMaxContainerContact .contentContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0 25px;
  margin-bottom: 100px;
}

#contato .LarguraMaxContainerContact .contentContact .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 350px;
  height: 230px;
  border-radius: 5px;
  background-color: #0a0a0a;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

#contato .LarguraMaxContainerContact .contentContact .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

#contato .LarguraMaxContainerContact .contentContact .card h3 {
  color: #ffffff;
  font-size: 2em;
}

#contato .LarguraMaxContainerContact .contentContact .card .icon {
  font-size: 4em;
}

#contato .LarguraMaxContainerContact .contentContact .email:hover {
  -webkit-filter: drop-shadow(0 0 10px #ffffff);
          filter: drop-shadow(0 0 10px #ffffff);
}

#contato .LarguraMaxContainerContact .contentContact .linkedin:hover {
  -webkit-filter: drop-shadow(0 0 10px #ffffff);
          filter: drop-shadow(0 0 10px #ffffff);
}

#contato .LarguraMaxContainerContact .contentContact .github:hover {
  -webkit-filter: drop-shadow(0 0 10px #ffffff);
          filter: drop-shadow(0 0 10px #ffffff);
}

#contato .LarguraMaxContainerContact .spaceMouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#contato .LarguraMaxContainerContact .mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-animation: mouse 30s infinite;
          animation: mouse 30s infinite;
}

@media screen and (max-width: 1159px) {
  #contato .LarguraMaxContainerContact .mouse {
    display: none;
  }
}

#contato .LarguraMaxContainerContact .mouse i {
  font-size: 1.3em;
  z-index: 0;
  color: #ffffffcb;
}

#contato .LarguraMaxContainerContact .mouse h3 {
  font-size: 0.8em;
  background-color: transparent;
  padding: 7px;
}

footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */