$color-heart: #574AE8;
$color-text: #B6B6B6;
$color-title: #313131;
$bg-gradient: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%); 
$bg-body: #F3F5F7;
$bg-text: #ffffff;
$margin-container: 0 auto;
$maxwidth-container: 900px;