* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  border: 0;
}

button:focus,
input:focus {
  border: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.LarguraMaxContainer {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

body {
  background-color: #F3F5F7;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#574AE8), to(#3EA1DB));
  background: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
  height: 230px;
}

header .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding-top: 50px;
}

header .search {
  width: 100%;
  height: 50px;
  padding: 5px 5px 5px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcfcfc;
  background-color: rgba(250, 249, 249, 0.233);
  margin-top: 80px;
  position: relative;
}

header .search::-webkit-input-placeholder {
  color: rgba(250, 249, 249, 0.322);
}

header .search:-ms-input-placeholder {
  color: rgba(250, 249, 249, 0.322);
}

header .search::-ms-input-placeholder {
  color: rgba(250, 249, 249, 0.322);
}

header .search::placeholder {
  color: rgba(250, 249, 249, 0.322);
}

header img {
  position: absolute;
  bottom: 11px;
  left: 25px;
}

main {
  background-color: #F3F5F7;
}

main .contentArticle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contentArticle .art1 {
  width: 900px;
  background-color: #ffffff;
  margin-top: 50px;
  border-radius: 5px;
}

main .contentArticle .art1 .firstdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 0px 30px;
}

main .contentArticle .art1 .firstdiv h3 {
  color: #B6B6B6;
  font-size: 16px;
}

main .contentArticle .art1 .second-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

main .contentArticle .art1 .second-div h2 {
  font-size: 26px;
  color: #313131;
}

main .contentArticle .art1 .second-div p {
  font-size: 18px;
  color: #B6B6B6;
  margin-top: 15px;
}

main .contentArticle .art2 {
  width: 900px;
  background-color: #ffffff;
  margin-top: 50px;
  border-radius: 5px;
}

main .contentArticle .art2 .firstdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 0px 30px;
}

main .contentArticle .art2 .firstdiv h3 {
  color: #B6B6B6;
  font-size: 16px;
}

main .contentArticle .art2 .second-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

main .contentArticle .art2 .second-div h2 {
  font-size: 26px;
  color: #313131;
}

main .contentArticle .art2 .second-div p {
  font-size: 18px;
  color: #B6B6B6;
  margin-top: 15px;
}

main .contentArticle .art3 {
  width: 900px;
  background-color: #ffffff;
  margin-top: 50px;
  border-radius: 5px;
}

main .contentArticle .art3 .firstdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 0px 30px;
}

main .contentArticle .art3 .firstdiv h3 {
  color: #B6B6B6;
  font-size: 16px;
}

main .contentArticle .art3 .second-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

main .contentArticle .art3 .second-div h2 {
  font-size: 26px;
  color: #313131;
}

main .contentArticle .art3 .second-div p {
  font-size: 18px;
  color: #B6B6B6;
  margin-top: 15px;
}

main .contentArticle .art4 {
  width: 900px;
  background-color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

main .contentArticle .art4 .firstdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 0px 30px;
}

main .contentArticle .art4 .firstdiv h3 {
  color: #B6B6B6;
  font-size: 16px;
}

main .contentArticle .art4 .second-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

main .contentArticle .art4 .second-div h2 {
  font-size: 26px;
  color: #313131;
}

main .contentArticle .art4 .second-div p {
  font-size: 18px;
  color: #B6B6B6;
  margin-top: 15px;
}

@media (max-width: 668px) {
  header {
    width: 100vw;
  }
  header .LarguraMaxContainer {
    width: 80%;
  }
  header .text {
    width: 100%;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .search {
    width: 100%;
    margin-top: 80px;
  }
  header img {
    position: absolute;
    bottom: 11px;
    left: 20px;
  }
  main {
    width: 100vw;
  }
  main .LarguraMaxContainer {
    width: 100%;
  }
  main .LarguraMaxContainer .contentArticle {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  main .LarguraMaxContainer .contentArticle .art1, main .LarguraMaxContainer .contentArticle .art2, main .LarguraMaxContainer .contentArticle .art3, main .LarguraMaxContainer .contentArticle .art4 {
    width: 80%;
  }
}

@media (min-width: 669px) and (max-width: 1047px) {
  header {
    width: 100vw;
  }
  header .LarguraMaxContainer {
    width: 80%;
  }
  header .text {
    width: 100%;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .search {
    width: 100%;
    margin-top: 80px;
  }
  header img {
    position: absolute;
    bottom: 11px;
    left: 20px;
  }
  main {
    width: 100vw;
  }
  main .LarguraMaxContainer {
    width: 100%;
  }
  main .LarguraMaxContainer .contentArticle {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  main .LarguraMaxContainer .contentArticle .art1, main .LarguraMaxContainer .contentArticle .art2, main .LarguraMaxContainer .contentArticle .art3, main .LarguraMaxContainer .contentArticle .art4 {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */