@import 'reset';
@import 'variables';

.LarguraMaxContainer {
    width: $maxwidth-container;
    margin: $margin-container;
    position: relative;
}

body {
    background-color: $bg-body;
}

header {
    background: $bg-gradient;
    height: 230px;

    .text {
        display: flex;
        justify-content: space-between;
        color: white;
        padding-top: 50px;
    }
    
    .search {
        width: 100%;
        height: 50px;
        padding: 5px 5px 5px 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: rgb(252, 252, 252);
        background-color: rgba(250, 249, 249, 0.233);
        margin-top: 80px;
        position: relative;
        &::placeholder {
            color: rgba(250, 249, 249, 0.322);
        }
    }
    img {
        position: absolute;
        bottom: 11px;
        left: 25px;
    }
}

main {
    background-color: $bg-body;

    .contentArticle {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .art1 {
            width: 900px;
            background-color: $bg-text;
            margin-top: 50px;
            border-radius: 5px;

            .firstdiv {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 30px 0px 30px;

                h3 {
                    color: $color-text;
                    font-size: 16px;
                }
            }

            .second-div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;

                h2 {
                    font-size: 26px;
                    color: $color-title
                }

                p {
                    font-size: 18px;
                    color: $color-text;
                    margin-top: 15px;
                }

            }
        }

        .art2 {
            width: 900px;
            background-color: $bg-text;
            margin-top: 50px;
            border-radius: 5px;

            .firstdiv {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 30px 0px 30px;

                h3 {
                    color: $color-text;
                    font-size: 16px;
                }
            }

            .second-div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;

                h2 {
                    font-size: 26px;
                    color: $color-title
                }

                p {
                    font-size: 18px;
                    color: $color-text;
                    margin-top: 15px;
                }
            }
            
        }

        .art3 {
            width: 900px;
            background-color: $bg-text;
            margin-top: 50px;
            border-radius: 5px;

            .firstdiv {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 30px 0px 30px;

                h3 {
                    color: $color-text;
                    font-size: 16px;
                }
            }

            .second-div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;

                h2 {
                    font-size: 26px;
                    color: $color-title
                }

                p {
                    font-size: 18px;
                    color: $color-text;
                    margin-top: 15px;
                }
            }
        }

        .art4 {
            width: 900px;
            background-color: $bg-text;
            margin-top: 50px;
            margin-bottom: 50px;
            border-radius: 5px;

            .firstdiv {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 30px 0px 30px;

                h3 {
                    color: $color-text;
                    font-size: 16px;
                }
            }

            .second-div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;

                h2 {
                    font-size: 26px;
                    color: $color-title
                }

                p {
                    font-size: 18px;
                    color: $color-text;
                    margin-top: 15px;
                }
            }
        }
    }
}

@media (max-width: 668px) {
    header {
        width: 100vw;
        .LarguraMaxContainer {
            width: 80%;
        }
        .text {
            width: 100%;
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }

        .search {
            width: 100%;
            margin-top: 80px;
        }

        img {
            position: absolute;
            bottom: 11px;
            left: 20px;
        }
        
    }

    main {
        width: 100vw;

        .LarguraMaxContainer {
            width: 100%;

            .contentArticle {
                width: 100%;
                padding: 0px 0px 0px 0px;
                
                .art1, .art2, .art3, .art4 {
                    width: 80%;

                } 
            }
        }       
    }
}


@media (min-width: 669px) and (max-width:1047px) {
    header {
        width: 100vw;
        .LarguraMaxContainer {
            width: 80%;
        }
        .text {
            width: 100%;
            padding-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }

        .search {
            width: 100%;
            margin-top: 80px;
        }

        img {
            position: absolute;
            bottom: 11px;
            left: 20px;
        }
        
    }

    main {
        width: 100vw;

        .LarguraMaxContainer {
            width: 100%;

            .contentArticle {
                width: 100%;
                padding: 0px 0px 0px 0px;
                
                .art1, .art2, .art3, .art4 {
                    width: 80%;

                } 
            }
        }       
    }
}
