@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input,
textarea {
  border: 0;
}

button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.maxLarguraContainer {
  width: 1100px;
  margin: 0 auto;
}

body {
  font-family: "Merriweather", serif;
}

header {
  background-color: #D7D4FF;
  height: 400px;
  width: 100vw;
}

header .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

header .head .texthead {
  width: 50%;
  padding: 20px;
}

header .head .texthead h2 {
  font-size: 2em;
  font-weight: 400;
}

header .head .texthead p {
  line-height: 20px;
  margin-top: 15px;
}

header .head .texthead button {
  background-color: #6C63FF;
  margin-top: 30px;
  width: 98px;
  height: 30px;
  color: white;
  border-radius: 5px;
}

header .head .imghead {
  width: 50%;
}

header .head .imghead img {
  width: 280px;
}

main {
  background-color: #F9F9F9;
  height: 85vh;
  width: 100vw;
}

main .agroupmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
  width: 100%;
}

main .agroupmain .content {
  width: 230px;
  height: 300px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.171);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.171);
  border-radius: 2px;
  margin-right: 90px;
  margin-bottom: 50px;
}

main .agroupmain .content .bg-content1 {
  height: 50%;
  background-color: #FF6363;
}

main .agroupmain .content .bg-content2 {
  height: 50%;
  background-color: #63ECFF;
}

main .agroupmain .content .bg-content3 {
  height: 50%;
  background-color: #F363FF;
}

main .agroupmain .content .bg-content4 {
  height: 50%;
  background-color: #63FF73;
}

main .agroupmain .content .bg-content5 {
  height: 50%;
  background-color: #FFDD63;
}

main .agroupmain .content .bg-content6 {
  height: 50%;
  background-color: #6663FF;
}

main .agroupmain .content .text-content {
  padding: 20px;
}

main .agroupmain .content .text-content h3 {
  margin-bottom: 15px;
}

main .agroupmain .content .text-content p {
  line-height: 20px;
}

footer {
  width: 100vw;
  background-color: #D7D4FF;
  height: 700px;
  text-align: center;
  padding-top: 100px;
}

footer h2 {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 30px;
}

footer .content-form {
  width: 100%;
}

footer .content-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

footer .content-form form input {
  width: 33%;
  height: 40px;
  border-radius: 4px;
  padding-left: 10px;
  margin: 10px 0;
}

footer .content-form form textarea, footer .content-form form button {
  width: 33%;
  border-radius: 4px;
  margin: 10px auto;
}

footer .content-form form textarea {
  padding: 5px 0px 0px 10px;
}

footer .content-form form button {
  text-align: center;
  color: white;
  height: 40px;
  background-color: #6C63FF;
}

@media (max-width: 280px) {
  header {
    width: 100vw;
    height: 500px;
  }
  header .head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .head .texthead {
    width: 90%;
    height: 50%;
    padding: 0px 0px 0px 0px;
  }
  header .head .imghead {
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .head .imghead img {
    width: 150px;
  }
  main {
    height: 2170px;
  }
  main .maxLarguraContainer {
    width: 100vw;
  }
  main .maxLarguraContainer .agroupmain {
    width: 100vw;
    margin-left: 50px;
  }
  main .maxLarguraContainer .agroupmain .content {
    width: 60%;
  }
  footer {
    height: 650px;
  }
  footer .maxLarguraContainer {
    width: 100vw;
  }
  footer .maxLarguraContainer form {
    width: 100%;
  }
  footer .maxLarguraContainer form input {
    width: 80%;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
    margin: 10px 0;
  }
  footer .maxLarguraContainer form textarea, footer .maxLarguraContainer form button {
    width: 80%;
    border-radius: 4px;
    margin: 10px auto;
  }
  footer .maxLarguraContainer form textarea {
    padding: 5px 0px 0px 10px;
  }
  footer .maxLarguraContainer form button {
    text-align: center;
    color: white;
    height: 40px;
    background-color: #6C63FF;
  }
}

@media (min-width: 281px) and (max-width: 999px) {
  header {
    width: 100vw;
    height: 500px;
  }
  header .head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .head .texthead {
    width: 70%;
    height: 50%;
    padding: 53px 83px 0px 60px;
  }
  header .head .imghead {
    width: 100%;
    height: 38%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .head .imghead img {
    width: 200px;
  }
  main {
    width: 100vw;
    height: 2170px;
  }
  main .maxLarguraContainer {
    width: 80%;
  }
  main .maxLarguraContainer .agroupmain {
    width: 100%;
    margin-left: 50px;
  }
  main .maxLarguraContainer .agroupmain .content {
    width: 50%;
  }
  footer {
    height: 650px;
  }
  footer .maxLarguraContainer {
    width: 100vw;
  }
  footer .maxLarguraContainer form {
    width: 100%;
  }
  footer .maxLarguraContainer form input {
    width: 80%;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
    margin: 10px 0;
  }
  footer .maxLarguraContainer form textarea, footer .maxLarguraContainer form button {
    width: 80%;
    border-radius: 4px;
    margin: 10px auto;
  }
  footer .maxLarguraContainer form textarea {
    padding: 5px 0px 0px 10px;
  }
  footer .maxLarguraContainer form button {
    text-align: center;
    color: white;
    height: 40px;
    background-color: #6C63FF;
  }
}

@media (min-width: 1000px) {
  body {
    font-family: "Merriweather", serif;
  }
  header {
    background-color: #D7D4FF;
    height: 400px;
    width: 100vw;
  }
  header .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 50%;
    margin: 0 auto;
  }
  header .head .texthead {
    width: 50%;
    padding: 20px;
  }
  header .head .texthead h2 {
    font-size: 2em;
    font-weight: 400;
  }
  header .head .texthead p {
    line-height: 20px;
    margin-top: 15px;
  }
  header .head .texthead button {
    background-color: #6C63FF;
    margin-top: 30px;
    width: 98px;
    height: 30px;
    color: white;
    border-radius: 5px;
  }
  header .head .imghead {
    width: 50%;
  }
  header .head .imghead img {
    width: 280px;
  }
  main {
    background-color: #F9F9F9;
    height: 730px;
    width: 100vw;
  }
  main .agroupmain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px 0;
    width: 100%;
  }
  main .agroupmain .content {
    width: 230px;
    height: 300px;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.171);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.171);
    border-radius: 2px;
    margin-right: 90px;
    margin-bottom: 50px;
  }
  main .agroupmain .content .bg-content1 {
    height: 50%;
    background-color: #FF6363;
  }
  main .agroupmain .content .bg-content2 {
    height: 50%;
    background-color: #63ECFF;
  }
  main .agroupmain .content .bg-content3 {
    height: 50%;
    background-color: #F363FF;
  }
  main .agroupmain .content .bg-content4 {
    height: 50%;
    background-color: #63FF73;
  }
  main .agroupmain .content .bg-content5 {
    height: 50%;
    background-color: #FFDD63;
  }
  main .agroupmain .content .bg-content6 {
    height: 50%;
    background-color: #6663FF;
  }
  main .agroupmain .content .text-content {
    padding: 20px;
  }
  main .agroupmain .content .text-content h3 {
    margin-bottom: 15px;
  }
  main .agroupmain .content .text-content p {
    line-height: 20px;
  }
  footer {
    width: 100vw;
    background-color: #D7D4FF;
    height: 700px;
    text-align: center;
    padding-top: 100px;
  }
  footer h2 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 30px;
  }
  footer .content-form {
    width: 100%;
  }
  footer .content-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  footer .content-form form input {
    width: 60%;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
    margin: 10px 0;
  }
  footer .content-form form textarea, footer .content-form form button {
    width: 60%;
    border-radius: 4px;
    margin: 10px auto;
  }
  footer .content-form form textarea {
    padding: 5px 0px 0px 10px;
  }
  footer .content-form form button {
    text-align: center;
    color: white;
    height: 40px;
    background-color: #6C63FF;
  }
}
/*# sourceMappingURL=main.css.map */